/*
 * Body 
 */

body {
  box-shadow: inset 0px 0px 30px #000000;
}

/*
 * Header
 */
#nav-con {
  background-color: rgba(0,0,0,0.5);
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
    margin: 5px;
  }
  .masthead-nav {
    float: right;
    margin: 5px;
  }
}


#panel-block {
  border: 2px solid #213442;
  border-left: 10px solid #213442;
  box-shadow: 0px 0px 3px #1b2a35;
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: 500px;
}

/*Image Gallery*/


.thumb {
  margin: 10px;
  background: #6F9ADA;
  border-radius: 5px;
  height: 250px;
  overflow: hidden;
  position: relative;
}


.thumb:hover .image{
  top: -250px;
}

.thumb:hover .description {
  top: 0px;
}

.product {
  height: 250px;
  width: 100%;
  position: absolute;
  top: 0px;
  transition: top 0.5s ease;
}

.image {
  background: #000;
  background-size: cover;
  transition-delay: 0.2s;
}

.description {
  background-color: #1d4059, rgba(0,0,0,0.5);
  top: 250px;
  padding: 20%;
}

.description h4 {
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
}

.btn-onano {background: #fff;}

#shoes .image {
  background: url('https://static1.squarespace.com/static/54447168e4b07b71baef4d26/t/5718fb007c65e44db28896e8/1461254938024/?format=500w') center;
}

#accessories .image {
  background: url('https://static1.squarespace.com/static/54447168e4b07b71baef4d26/t/5718fb53859fd044de1ec74d/1461255026883/?format=500w') center;
}

#clothes .image {
  background: url('https://static1.squarespace.com/static/54447168e4b07b71baef4d26/t/5718fb2986db4307e3fabef4/1461254970651/?format=500w') center;
}

#shoes-men .image {
  background: url('/images/shoes-men.jpg') center;
}

#accessories-men .image {
  background: url('/images/accessories%20men.jpg') center;
}

#clothes-men .image {
  background: url('/images/clothing-men.jpg') center;
}