nav.nav {
  background: #000;
  color: #fff;
}
nav.nav .nav-item {
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav.nav .nav-item:hover {
  background: #111;
  border-bottom: 5px solid #fff;
}

section.banner {
  background-image: url("https://s18.postimg.org/l814u9jm1/ngmtse5r9ei_jens_kreuter.jpg");
  background-size: cover;
  background-position: right center;
  height: 450px;
  padding-bottom: 50px;
}
section.banner .box {
  height: 100%;
  width: 30%;
  background: rgba(0, 0, 0, 0.8);
  margin-left: 62%;
}
section.banner .box .title, section.banner .box .subtitle {
  color: #fff;
}

.pad-top-50 {
  padding-top: 50px;
  background: url("http://www.desktopwallpaperhd.net/wallpapers/3/8/paint-pink-wallpapers-splash-texture-leather-34920.jpg");
  background-position: top left;
  padding-bottom: 50px;
}
.pad-top-50 .card {
  width: 100%;
}
.pad-top-50 .card .card-content .media {
  display: none;
}

.footer {
  padding-top: 50px;
  background: #000;
}
