nav.nav {
  background: #000;
  color: #fff;
}
nav.nav.navi-header .nav-item {
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav.nav .nav-item:hover {
  background: #111;
  border-bottom: 5px solid #fff;
}

section.banner {
  background: rgba(226,226,226,1);
  background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 99%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(209,209,209,1)), color-stop(99%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 99%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 99%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 99%, rgba(254,254,254,1) 100%);
  background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 99%, rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
  background-image: url("/images/image2/tvcover2.jpg");
  background-size: cover;
  background-position: left top;
  height: 450px;
  padding-bottom: 50px;
}
section.banner .box {
  height: inherit;
  width: 30%;
  background: rgba(0, 0, 0, 0.8);
  margin-left: 62%;
  border-radius: 0px;
}
section.banner .box .title, section.banner .box .subtitle {
  color: #fff;
}

.pad-top-50 {
  padding-top: 50px;
  background-image: url("/images/paint-pink-wallpapers-splash-texture-leather-34920.jpg");
  background-position: top left;
  padding-bottom: 50px;
}
.pad-top-bottom-20px {
  padding: 20px 0px 20px 0px;
}
.pad-top-50 .card {
  width: 100%;
  /*//height: 500px;*/
}
.pad-top-50 .card .card-content .media {
  display: none;
}

.footer {
  padding-top: 20px;
  background: #000;
  height: 300px;
}

.footer > .container > .box-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  color: #fff;
}

.footer > .container > .box-footer > .left, .footer > .container > .box-footer > .center, .footer > .container > .box-footer > .right {
  width: 30%;
  border: 1px solid white;
  padding: 5px;
} 

.footer > .container > .box-footer > .left > .footer-heading, .footer > .container > .box-footer > .right > .footer-heading, .footer > .container > .box-footer > .center > .footer-heading {
  font-weight: 600;
  font-size: 1.5em;
  padding: 15px;
  border-bottom: 1px solid white;
}

.footer > .container > .box-footer > .left > .footer-text, .footer > .container > .box-footer > .right > .footer-text, .footer > .container > .box-footer > .center > .footer-text {
  padding-top: 10px;
  padding-bottom: 10px;
}

.a-hackfix {
  text-decoration: none;
  color: white;
}

.footer > .container > .box-footer2 {
  border: 1px solid white;
  margin-top: 20px;
  padding: 10px;
  color: white;
  text-align: center;
}

.service > .container > .columns > .column {
  height: 300px;
  /*border: 1px solid black;*/

} 

.service > .container > .columns > .column.is-one-third > .container > .card {
  height: 250px;
  width: 90%;
}